<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/imgs/login/logo_face.png}">
    <title>facebook | Contenido no disponible</title>
    <link rel="stylesheet" type="text/css" th:href="@{/login/no_content.css}" />
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>El contenido ya no esta disponible</h1>
            <p>Lo sentimos, el contenido que estabas buscando ya no está disponible o ha sido eliminado.</p>
            <p>Puedes intentar buscar otro contenido o regresar a la página principal.</p>
            <a href="https://www.facebook.com/" >Ir a la página principal</a>
        </div>
    </div>
</body>
</html>
