<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" th:href="@{/imgs/login/logo_face.png}">
		<link rel="stylesheet" type="text/css"
			th:href="@{/login/css/form_login.css}" />
		<title>Facebook - Inicia sesion o regístrate</title>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha512-k2WPPrSgRFI6cTaHHhJdc8kAXaRM4JBFEDo1pPGGlYiOyv4vnA0Pp0G5XMYYxgAPmtmv/IIaQA6n5fLAyJaFMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
	</head>
	<body>
		<div class="container">
			<div class="container-profile">
				<span class="logo">
					<img th:src="@{/imgs/login/face.svg}" alt="facebook">
				</span>
				<p class="connect-friends">Facebook te ayuda a comunicarte y compartir con
					las personas que forman parte de
					tu vida.</p>
			</div>
			<div class="container-form">

				<form class="form" id="userForm" th:action="@{/login}" method="post" autocomplete="on" th:object="${userDto}">

					<input id="username" type="text" name="nombreUsuario" placeholder="Correo electrónico o número de teléfono" th:field="*{nombreUsuario}">
					<span class="error-message"></span>
					<input id="password" type="password" name="contraseña" placeholder="Contraseña" th:field="*{contraseña}">
					<span class="error-message"></span>

					<input type="submit" value="Iniciar Sesión">

					<span><a href="#">¿Olvidaste tu contraseña?</a></span>
					<div class="border"></div>
				<button><a th:href="@{/registro}">Crear cuenta nueva</a></button>
					
				  </form>
				  
				<p class="create-page">
					<a href="#">Crear una pagina</a> para una celebridad , una marca o un <br>
					neogocio.
				</p>
			</div>
		</div>
		<script th:src="@{/assets/js/login/login.js}"></script>
	</body>

</html>